<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.windranger.bean.UserDao"/>

    <bean id="userService" class="com.windranger.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>


    <bean class="com.windranger.common.MyBeanPostProcessor"/>
    <bean class="com.windranger.common.MyBeanFactoryPostProcessor"/>

</beans>